@font-face {
  font-family: "Saturn";
  src: url("font.ttf") format("truetype");
}

body {
  font-family: "Saturn", sans-serif;
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 1.5rem;
}

input[type="text"],
input[type="number"],
select {
  background-color: #121212;
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
  font-family: "Saturn", monospace;
  font-size: 2rem;
}

option {
  font-family: "Saturn", monospace;
}

button,
input[type="button"] {
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #121212;
  font-family: "Saturn", monospace;
  font-size: 2rem;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-size: 2rem;
}

.maker {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.calc {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.answer {
  font-size: 4rem;
}
